* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styling */
header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 2-px;
}

header p a {
  color: white;
  font-size: 1.1em;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

section p a {
  color: #3498db;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

section p a:hover {
  color: #20618b;
}

h2 {
  color: #2c3e50;
  margin: 20px 0;
  font-size: 1.8em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table td {
  padding: 20px;
  vertical-align: top;
  border: 1px solid #ddd;
}

h3 {
  color: #2c3e50;
  margin-bottom: 15px;
  font-size: 1.4em;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
  position: relative;
}

ul li::before {
  content: '.';
  height: 5px;
  color: #184c6f;
  position: absolute;
  left: -20px;
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #256590;
}

p {
  margin-bottom: 10px;
}

footer {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  table {
    display: block;
  }

  table tr {
    display: block;
    margin-bottom: 20px;
  }

  table td {
    border: 1px solid #ddd;
  }

  header h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

}